%button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
    background: #2196F3;
    border: none;
    border-radius: 4px;
}