.hero-topic {
    padding: 60px 0;

    @include desktop {
        padding: 94px 0;
    }
}
.hidden-title {
	display: none;
}
.advantages {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
        justify-content: space-around;
        display: flex;
    }
}
.advantages__unit {
    width: 100%;
    display: block;

    @include tablet {
        width: calc((100% - 60px) / 2);
    
    }
    @include desktop {
        width: calc((100% - 90px) / 4);
        
    }
}
@include tablet {
    .advantages__unit:nth-child(odd) {
        margin-right: 30px;
        
    }
   
}

.advantages__primaryTools {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-primary-color);
    margin-bottom: 10px;

    text-align: center;

    @include tablet {
        text-align: start;
    }

}
.advantages__secondaryTools {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-p-text);

    margin-bottom: 30px;
}
.advantages__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: #F5F4FA;
}
