body {
    background-color: #85A279;
}
.mobile-menu {
    background-color: #85A279;
    width: 100%;
    height: auto;
    text-align: center;
}
.mobile-menu__nav {
    margin-top: 100px;
}
.mobile-menu__items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.21;
    color: #FCFCFC;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.mobile-menu__button {
    background: #F8D24E;
    border-radius: 10px;
    padding: 12px 51px 12px 36px;
    border-style: none;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;

    position: absolute;
    bottom: 64px;
    transform: translateX(-50%);
   
}

